* {
    font-family: monospace;
    text-align: center;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 10px 40px;
} 

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topheader {
    font-size: 22px;
}

.bottomheader {
    font-size: 16px;
}

.choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 80px auto 80px auto;
}

.button {
    box-shadow: 0 0 12px rgb(152, 152, 152);
}

.score {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    font-size: 20px;
    width: 40%;
    margin-bottom: 5px;
}

#scoreMessage {
    text-align: center;
    font-size: 16px;
}

.points {
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    font-size: 100px;
    width: 33%;
    padding-left: 30px;
    padding-right: 30px;
}

#myscore,
#compscore  {
    /* border: 1px solid red; */
    /* margin: 0; */

}  */